<ul id="messages">
{{#chat}}
<li>
{{content}}
</li>
{{/chat}}
</ul>
<form id="frm-chat" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<input type="hidden" id="name_hidden" value="{{tenUser}}"/>
<script>
      var socket = io();
      $('form').submit(function(){
        var msg = $('#name_hidden').val()+': '+$('#m').val();
        var data = { user: $('#name_hidden').val(), msg : msg};
        socket.emit('chat message', data);
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(data){
        $('#messages').append($('<li>').text(data.msg));
      });
</script>