<table class="table table-responsive table-hover table-striped table-bordered">
<tr>    
    <td><strong>Name</strong></td>
    <td><strong>Images</strong></td>
    <td><strong>Description</strong></td>
</tr>
{{#product}}
<tr>
    <td>{{title}}</td>
    <td><img src="/uploads/{{avatar}}" width="100px" height="100px"/></td>
    <td>{{comment}}</td>
</tr>
{{/product}}
</table>
<a type="button" href="/upload" class="btn btn-success">Add Product</a>