<div>
{{#product}}
<strong>{{title}}</strong> 
<img src="/uploads/{{avatar}}" width="100px" height="100px"/>
<strong>{{comment}}</strong> <br/>
{{ else }}
<p>There are no books.</p>
{{/product}}
</div>
