<p>Our home API view</p>
<a href="#" class="ajax-button-get">Send AJAX GET Request</a>
<a href="#" class="ajax-button-post">Send AJAX POST Request</a>
<script type="text/javascript">
jQuery(document).ready(function(){
    $('.ajax-button-get').on('click', function(e){
        $.ajax({
            url: '/api/test',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            type: 'GET',
            success: function(data, textStatus, jqXHR){
            alert(JSON.stringify(data.name));
            },
            error: function(){
            alert('There was an error in the request');
            }
        });
    });


var postData = {
"book": "War and Peace",
"author": "Leo Tolstoy"
};
jQuery('.ajax-button-post').on('click', function(e){
jQuery.ajax({
url: '/api/test',
dataType: 'json',
contentType: 'application/json; charset=UTF-8',
type: 'POST',
data: JSON.stringify(postData),
success: function(data, textStatus, jqXHR){
alert(JSON.stringify(data.message));
},
error: function(){
alert('There was an error in the request');
}
});
});
});
</script>