<form method="post" action="/authors/edit" encType="multipart/form-data">
<input name="id" type="hidden" value="{{ author._id }}" />
<label>Name</label> <input name="name" type="text" value="{{ author.name }}" />
</form>